/* ============= VARIABLE ============= */
:root {
    --primary: #5956e9;
    --secondary: #c7566f;
    --bg-dark: #27272e;
    --white: #ffffff;
    --black: #000000;
    --text-grey: #525260;
    --bg-light: #ecf2fc;
    --heading-dark: #292930;
    --bg-light-blue: #ecf2f6;
    --dm-sans: 'DM Sans';
    --b-a-width: 5vw;
  
  }
  
  /* ============= DEFAULT CSS ============= */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var('DM Sans');
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  /* img {
    width: 100%;
  } */
  
  a {
    text-decoration: none;
  }
  
  body {
    font-family: 'Poppins';
    overflow-x: hidden;
  }
  
  .col-1 {
    width: 8.33%;
  }
  
  .col-2 {
    width: 16.66%;
  }
  
  .col-3 {
    width: 25%;
  }
  
  .col-4 {
    width: 33.33%;
  }
  
  .col-5 {
    width: 41.66%;
  }
  
  .col-6 {
    width: 50%;
  }
  
  .col-7 {
    width: 58.33%;
  }
  
  .col-8 {
    width: 66.66%;
  }
  
  .col-9 {
    width: 75%;
  }
  
  .col-10 {
    width: 83.33%;
  }
  
  .col-11 {
    width: 91.66%;
  }
  
  .col-12 {
    width: 100%;
  }
  
  .container {
    /* max-width: 1320px; */
    margin: 0 auto;
    padding: 0 0px;
  }
  @media (max-width: 1000px) {
    .container {
      text-align: start;
    }
    
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
  
  
  /* ============= COMPONENT ============= */
  .axil-mainmenu-axil-sticky {
    /* background-color: var(--bg-dark); */
    /* position: fixed; */
    top: 0;
    margin: 5px 0px;
    display: flex;
    gap: 400px;

  padding: 0px 50px;
    width: 100%;
  
  }
  
  @media (max-width: 1080px) {
    .axil-mainmenu-axil-sticky {
      margin-top: -50px;
    }
  
  
  }
  
  
  .logo {
    display: flex;
    height: 50px;
    width: 150px;
    padding: 10px;
  
  }
  
  @media (max-width: 1080px) {
    .logo {
      margin: auto;
      padding: 10px;
    }
  
  }
  
  .btn {
    font-size: 16px;
    color: var(--white);
    background-color: #d2b48c;
    border-radius: 20px;
    display: inline-block;
    font-family: 'Poppins';
  }
  
  .axil-btn {
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -.04em;
    color: white;
    background-color: var(--primary);
    padding: 18px 55px;
    height: auto;
    text-align: center;
    transition: all .5s;
  }
  
  .heading span {
    display: inline-block;
    color: var(--secondary);
    font-weight: 500;
    font-size: 20px;
    font-family: var(--dm-sans);
    margin-bottom: 15px;
    text-transform: capitalize;
  }
  
  .heading h2 {
    color: var(--white);
    margin-bottom: 35px;
    max-width: 60%;
    font-family: var(--dm-sans);
    font-size: 56px;
    font-weight: 500;
    line-height: 77px;
  }
  
  .heading p {
    color: var(--white);
    margin-bottom: 0 0 40px;
    width: 40%;
    opacity: .6;
    line-height: 27px;
    font-size: 18px;
  }
  
  header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
    background: var(--white);
  
  
  }
  
  header .row {
    justify-content: space-between;
    align-items: center;
  }
  
  header nav {
    display: flex;
  
    align-items: end;
    justify-content: end;
    margin-top: -50px;
  }
  
  @media (max-width: 1080px) {
    header nav {
      display: none;
    }
  
  }
  
  
  
  header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin-left: 40px;
  }
  
  header ul li {
    padding: 0 24px;
  }
  
  
  header ul li a {
    font-family: var(--dm-sans);
    font-size: 16px;
    color: var(--text-grey);
    font-weight: 500;
    line-height: 60px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    position: relative;
    transition: color 0.3s ease;
  }
  
  
  
  
  header ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 3px;
    width: 0;
    background-color: #be966b;
    transition: all 0.3s ease;
  }
  
  header ul li a:hover::after {
    width: 100%;
    left: 0;
  }
  
  
  header ul li a i {
    font-size: 12px;
  }
  
  .mainmenu>li>a {
    color: var(--text-grey);
    font-weight: 500px;
    font-size: 16px;
    font-family: var(--dm-sans);
    line-height: 60px;
    height: 60px;
    display: block;
  }
  
  header nav .menu-bar a {
    display: inline-block;
    height: 60px;
    width: 60px;
    line-height: 62px;
    text-align: center;
    color: var(--text-grey);
    background-color: #ecf2f6;
    border: none;
    border-radius: 50%;
    justify-content: center;
    margin-left: 60px;
    padding: 22px 22px;
    transition: all 0.06s;
  }
  
  
  header .menu li .dropdown {
    position: relative;
  }
  
  header .menu li:hover .submenu {
    opacity: 1;
    left: 36%;
    visibility: visible;
  }
  
  header .menu .dropdown .submenu {
    position: absolute;
    display: block;
    left: 38%;
    list-style: none;
    padding: 15px 100px 15px 15px;
    background-color: var(--white);
    box-shadow: 0 13px 48px 0 rgb(0 0 0 / 15%);
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
  }
  
  /* header .menu li:hover .submenu-2 {
    opacity: 1;
    left: 47%;
    visibility: visible;
  } */
  
  header .menu .dropdown .submenu-2 {
    left: 49%;
  
  }
  
  header .menu li:hover .submenu-3 {
    opacity: 1;
    left: 56%;
    visibility: visible;
  }
  
  header .menu .dropdown .submenu-3 {
    left: 58%;
  }
  
  header .menu li:hover .submenu-4 {
    opacity: 1;
    left: 64%;
    visibility: visible;
  }
  
  header .menu .dropdown .submenu-4 {
    left: 76%;
  }
  
  header .menu li:hover .submenu-5 {
    opacity: 1;
    left: 71%;
    visibility: visible;
  }
  
  header .menu .dropdown .submenu-5 {
    left: 76%;
  }
  
  header .menu .dropdown .submenu li {
    padding: 0;
  }
  
  header .menu .dropdown .submenu li a {
    line-height: 40px;
  }
  
  
  .more {
    /* background-image: url(../image/application.png);
    background-color: #000;
    border: .5pc solid  #ababab;     */
    height: 50px;
    width: 50px;
    padding: 10px;
    cursor: pointer;
  
  }
  
  @media (max-width: 2560px) {
    .more {
      display: none;
    }
  }
  
  @media (max-width: 1080px) {
    .more {
      display: block;
    }
  
  }
  
  
  
  
  /* banner*/


  .about-section {
    display: flex;
    background-size:cover ;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
   background-image: url(./image/Breadcrumb-04\ \(1\).jpg);
   
   
    position: relative;
    text-align: center;
    color: white;
}

.about-section .content h1 {
    font-size: 3rem;
    font-family: cursive;
    margin-bottom: 20px;
}

.about-section .content p {
    font-size: 1rem;
    max-width: 800px;
    font-family: cursive;
    line-height: 1.5;
}

.about-section .edit-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.about-section .edit-icon svg {
    fill: black;
}

.spece{
    height: 100px;
    width: auto;
}


/* banner 1 */

.container{
    text-align: center;
    margin: 0px 50px;
}

.timeline-section {
    text-align: center;
    padding: 20px;
    position: relative;
}

.timeline-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: 'Brush Script MT', cursive;
}

.timeline {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    flex-direction: row;
    /* padding:0 50px ; */
    cursor: pointer;
    
}

.timeline-item {
    flex: 1 1 150px;
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
    filter: brightness(50%);
    -webkit-filter: brightness(50%);
}
.timeline-item:hover{
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
}
.timeline-item span {
   font-size: 50px;
   color: #ffffff;

   

}

.timeline-item span:hover{
    opacity: 0;

}

.edit-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.edit-icon svg {
    fill: black;
}

.timeline-section p {
    /* margin: 20px 50px; */
    font-size: 1rem;
    color:#0d2a3fa4;
    max-width: auto;
line-height: 1.5rem;
 font-size: 15px;
}

.timeline-section h3{
    margin: 30px;
    font-size: 20px;
    color: #0d2a3fa4;
}


/* banner 2 */


.testimonial-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px 0px 50px;
    position: relative;
    background-image: url("./image/about-bg-1\ \(2\).jpg");
    background-size: cover;
    background-position: center;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    width:auto ;
    height: auto;
    gap: 50px;
    /* background: rgba(0, 0, 0, 0.5); */
    /* padding: 30px; */
    border-radius: 8px;
    flex-direction: row;
}

.left img {
    max-width: 300px;
    
    border-radius: 8px;
}

.right {
    max-width: 700px;
    margin-left: 30px;
    color: #fff;
}

blockquote {
    margin: 0;
    font-style: italic;
}

blockquote p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    text-align: center;
    color: #ffffffaf;
    line-height: 1.5;
}

blockquote footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

footer img {
    max-width: 150px;
    
}


blockquote h3{
    text-align: center;
}


/* banner 3  */

/* .featured-section {
    padding: 50px 20px;
    text-align: center;
    position: relative;
    background-color: #f9f9f9;
} */

.featured-section h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.divider {
    width: 50px;
    height: 1px;
    background-color: #c49a6c;
    margin: 0 auto 30px auto;
}

.featured-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

}
@media (max-width:1000px) {
  .featured-items{
    flex-direction: column;
  }
  
}

.item {
    text-align: center;
    /* flex: 1; */
    margin: 0 15px;
    height: auto;
    width: auto;
    /* background-color: #f0f0f0; */
    
    /* box-shadow: 0px 0px 1px 8px #f0f0f0; */
    color: #c49a6c;
    font-size: 30px;    
}
.item:hover{
   filter: brightness(10%);
   -webkit-filter: brightness(40%);
   
}

.item img {
   height: auto;
   width: auto;
   
   
}



.icon-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.icon {
  width: 150px;
  height: 150px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.icon img {
  /* max-width: 100%;
  max-height: 100%; */
  object-fit: contain;
  filter: opacity(50%);
  -webkit-filter: opacity(50%);
}

.spece-one{
  height: 1px;
  border: 1px solid #cfcccc9a;
  width: auto;
  margin: 0 50px;
}





/* banner 4 */



.statistics {
  display: flex;
  justify-content: space-around;
  width: 80%;
  background-color: #ecf2f6e2;
  width: auto;
  margin: 0 auto;
  padding: 100px 100px;
}

.stat-item {
  text-align: center;
}

.stat-number {
  font-size: 48px;
  color: #C29578;
  margin-bottom: 5px;
}

.stat-label {
  font-size: 18px;
  color: #444;
  margin-bottom: 10px;
}

.stat-icon {
  width: 60px;
  height: auto;
  margin-top: 10px;

}



/* banner 5 */


.reservation-container {
  background-color: white;
  padding: 20px 40px;
border: 5px solid #d3d3d3;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: auto;
  text-align: center;

}

h1 {
  font-family: 'Brush Script MT', cursive;
  margin-bottom: 20px;
}

.reservation-info {
  color: #666;
  font-size: 20px;
  /* width: 700px; */
  text-align: center;
  margin-bottom: 20px;
  margin: 50px 50px;
}

.highlight {
  color: #e69c57;
  font-weight: bold;
}

.reservation-form .form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  gap: 30px;
}



.reservation-form .form-group input,
.reservation-form .form-group select,
.reservation-form .form-group textarea {
  width: 48%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.reservation-form .form-group textarea {
  width: 100%;
  height: 60px;
  
}




button[type="submit"]{
  background-color: #c89a6e;
  color: #ffffff;
  padding: 15px 36px;
  margin: 50px;
  font-size: 17px;
  border-radius: 100px;
  text-transform: uppercase;
  position: relative;
  top: 0;
  transition: all 0.3s ease;
  font-family: "Merriweather Sans", sans-serif;
  text-align: center;
  border: none;
  cursor: pointer;

}

button[type="submit"]::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 110px;
  /* margin-left: -10px; */
  bottom: 11px;
  background-color: #ffffff;
  opacity: 0;
  transition: all 0.3s ease;
  transition-delay: 0.2s;
  display: inline-block;
}

button[type="submit"]::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ffffff;
  top: 50%;
  margin-top: -5px;
  display: inline-block;
  margin-left: 15px;
}

button[type="submit"]:hover::before {
  left: 35px;
  right: 12px;
  opacity: 1;
}

button[type="submit"]:hover::after {
  opacity: 0;
}

button[type="submit"]:hover {
  background-color: #c89a6e;
}



/* banner 6   */


.subscribe-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: full;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  height: 200px;
}

@media (max-width: 1000px) {
  .subscribe-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    margin: 0;
  }

}

.subscribe-image img {
  max-width: 100%;
  border-radius: 8px;
  height: 200px;
  /* position: absolute; */
  
}

@media (max-width:1000px) {
  .subscribe-section img {
    display: none;
  }
}

.subscribe-content {

  font-size: .5em;
  flex-grow: 1;
  justify-content: left;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  
}

.subscribe-content h2 {
  font-size: 3em;
  color: #333;
  
  margin: 0 0 10px 30px;
}

@media (max-width:1000) {
  .subscribe-content h2 {
    font-size: 3em;
    text-align: center;
  }

}

.subscribe-content p {
  color: #666;
  margin: 0;
  padding: 10px;
  font-size: 10px;
}

.subscribe-form {
  display: flex;
  align-items: center;
  align-items: start;
  text-align: left;

}
@media (max-width:1100px) {
  .subscribe-form{
    width: 50%;
    display: contents;
    

  }
}

.subscribe-form input[type="email"] {
  height: 30px;
  width: 300px;
  margin: auto;
  font-size: 0.5em;
 
  background-color: #ffffff;
  opacity: 50%;
  /* border-radius: 4px; */
 
}

@media (max-width:1000px) {
  .subscribe-form input[type="email"] {
    width: 25%;
    /* margin-left: 200px; */
    align-items: center;
    justify-content: center;
    /* text-align: center; */

  }


}

.subscribe-form button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.subscribe-form button img {
  width: 24px;
  height: 24px;
  margin-right: 200px;
}









/* footer v  */
.footerimage {
  background-image: url(./image/cf-footer-bg.jpg);
  height: 400px;
  width: auto;
}
@media (max-width: 1000px) {
  .footerimage {
    background-image: url(./image/cf-footer-bg.jpg);
    height: 800px;
    
  }
  
}



.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 100px;
  padding: 0 0px;
}


.footer-logo {
  flex-basis: 30%;
}

@media (max-width: 1000px) {
  .footer-logo {
    flex-basis: 100%;
    height: 200px;
    margin-left: 30px;
  }
}

.footer-links {
  flex-basis: 30%;
}

@media (max-width: 1000px) {
  .footer-links {
    flex-basis: 100%;
    margin-top: 400px;
    margin-left: -900px;
  }

}


.footer-contact {
  flex-basis: 30%;
}

@media (max-width: 1000px) {
  .footer-contact {
    flex-basis: 100%;
    margin-top: 190px;
    margin-left: -900px;
  }

}

.footer-logo img {
  max-width: 150px;
  margin: 30px 0;

}

.footer-logo p {
  line-height: 1.5rem;
  font-size: 1em;
  color: #bbbbbb;
}
@media (max-width:700px) {
  .footer-logo p{
    font-size: 1em;
    
  }
  
}

.social-icons a {
  margin-right: 10px;
  
}

.social-icons img {
  width: 30px;
  height: 30px;
  filter: grayscale(1)  ;
  -webkit-filter: grayscale(1)  ;
}

.social-icons img:hover{
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}

.footer-contact h3 {
  margin-bottom: 20px;
  font-size: .9em;
  color: #d3a571;
  margin: 30px 0;
}

.footer-links h3 {
  margin-bottom: 20px;
  color: #d3a571;
  margin: 30px 0;
}

.footer-contact ul {
  list-style: none;
  padding: 0;
  color: #bbbbbb;
}

.footer-links ul {
  display: flex;
  /* flex-direction: column; */
  list-style: none;
  padding: 0;
  gap: 30px;
  padding: 5px ;
  font-size: 2em;
  
  
  
}

.footer-contact li {
  margin-bottom: 10px;
  display: flex;
  font-size: 1em;
  align-items: center;
  
}

.footer-links li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.footer-contact li img {
  margin-right: 10px;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
}

.footer-links li img {
  margin-right: 10px;
}

.footer-links li a {
  color: #ddd;
  font-size: .4em;
  text-decoration: none;
}

.footer-links li a:hover {
  color: #d3a571;
}

.icon {
  height: 30px;
  width: 30px;
}
.scorll {
  position: fixed;
  bottom: 40px;
  right: 1.5%;
  z-index: 99999;
  background-color: #be966b;
  border: 3px solid #ffffff;
  border-radius: 50%;
  height: 47px;
  width: 47px;
  text-align: center;
  transition: all 0.2s;
  font-size: 30px;
}

.scorll img {
  height: 25px;
  width: 25px;
  margin-top: 9px;
  cursor: pointer;
  filter:invert(1);
  -webkit-filter:invert(1);
}




#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: 2px solid #fff;
  background-color:#be966b;
  color: white;
  cursor: pointer;
  padding: 15px;
  width: 60px;
  border-radius: 50px;
 
}

#myBtn:hover {
  background-color: #555;
}









/* Sidebar styling */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}


@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
